/*palette for background https://colorhunt.co/palette/b7c4cfeee3cbd7c0ae967e76*/
/*palette for characters https://colorhunt.co/palette/472d2d553939704f4fa77979*/

body
{
    background-color: #B7C4CF;
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    color: #3F4E4F;
    line-height: 1.5;
}


h1
{
    font-size: 3rem;
    width: 20%;
    margin:0 auto 0 auto;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #2C3639;
}

h2, h3
{
    font-family: 'Montserrat', sans-serif;
    color: #A27B5C;
}

h2
{
    font-size: 2rem;
}

hr
{
    border-style: none;
    border-top-style: dotted;
    border-color: #395B64;
    border-width: 5px;
    width: 10%;
}

a
{
    color: #EEE3CB;
    margin: 10px 20px;
    text-decoration: none;
}

.top-container
{
    /*background-color: #EEE3CB;*/
    position: relative;
    padding-top: 100px;
    margin: auto;
}

.middle-container
{
    
}

.bottom-container
{

}

.pro
{
    text-decoration: underline;
}

.top-cloud
{
    position: absolute;
    top: 50px;
    right: 20%;
}

.bottom-cloud
{
    position: absolute;
    left: 20%;
    bottom: 300px;
}

.skill-row
{
    width: 40%;
    margin: 100px auto 100px auto;
    text-align: left;
    clear: both;
}

p
{
    line-height: 2;
}

.avatar-image
{
    width: 20%;
    margin-right: 30px;
    margin-top: 50px;
}

.computer-image
{
    width: 13%;
    margin-right: 30px;
    float: left;
}

.chillies-image
{
    width: 13%;
    margin-left: 30px;
    float: right;
}

.btn
{
    margin-top: 40px;
    padding: 12px 20px 12px 20px;
    background: #967E76;
    border-radius: 8px;
    line-height: 3;
}

.contact-me
{
    height: 300px;
}


.bottom-container
{
    padding: 80px 0 20px 0;
    background-color: #967E76;
}

.profile
{
    width: 40%;
    margin: auto;
}